In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set the plot style
plt.style.use('seaborn-v0_8-whitegrid')

# Load our feature-engineered, model-ready data
df = pd.read_csv('../data/processed/model_ready_data.csv', index_col='date', parse_dates=True)

print("--- Model-Ready Data Loaded Successfully ---")
df.info()

print("\n--- Data Preview ---")
df.head()

--- Model-Ready Data Loaded Successfully ---
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9555 entries, 1981-01-01 to 2007-02-28
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   discharge     9555 non-null   float64
 1   system:index  9555 non-null   int64
 2   rainfall_mm   9555 non-null   float64
 3   .geo          9555 non-null   object
 4   soi_index     9555 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 447.9+ KB

--- Data Preview ---

,discharge,system:index,rainfall_mm,.geo,soi_index
date,,,,,
1981-01-01,17.065,19810101,0.024594,"{""type"":""MultiPoint"",""coordinates"":[]}",0.27
1981-01-02,17.065,19810102,0.000007,"{""type"":""MultiPoint"",""coordinates"":[]}",0.27
1981-01-03,17.065,19810103,0.000000,"{""type"":""MultiPoint"",""coordinates"":[]}",0.27
1981-01-04,16.386,19810104,0.343530,"{""type"":""MultiPoint"",""coordinates"":[]}",0.27
1981-01-05,16.386,19810105,0.002130,"{""type"":""MultiPoint"",""coordinates"":[]}",0.27